// Material Design Sidemenu
#menu-material {
    .menu-header {
      min-height: 25%;
      padding: 5px 15px;
      background-image: url('../assets/imgs/material-design-background.jpg');
      background-size: cover;
      color: white;
      .name {
        font-weight: 500;
        margin-bottom: 3px;
      }
      .e-mail {
        margin-top: 0;
        margin-bottom: 5px;
      }
      .login-btn{
        position: absolute;
        top:20%;
      }
    }
    .avatar-container{
      position: relative;
    }
    .avatar-btn{
      position: absolute;
      bottom: 10px;
      left: 15%;
      background: none!important;
    }
    .user-avatar {
      padding: .5em;
      height: 12vh;
      border-radius: 50%;
    }
    h3,
    .label,
    {
      color: #999;
      font-weight: 400;
    }
    ion-icon {
      color: #777;
    }
  }
