// Material Design Sidemenu
#menu-material {
    .menu-header {
      padding: 5px 15px;
      background-image: url('../assets/imgs/material-design-background.jpg');
      background-size: cover;
      color: white;
      .name {
        font-weight: 500;
        margin-bottom: 3px;
      }
      .e-mail {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
    .round{
        border-radius: 50%;
    }
    .user-avatar {
      padding: .5em;
      height: 12vh;
    }
    h3,
    .label,
    {
      color: #999;
      font-weight: 400;
    }
    ion-icon {
      color: #777;
    }
  }
