
<ion-header>
    
     
    </ion-header>
    
    
    <ion-content padding>
      <div *ngIf='haveData; else loading'>
        <div *ngIf='!error; else errorTemplate'>
          <ion-grid>
            <ion-row align-items-center>
              <ion-col col-12 col-sm-6 *ngFor = 'let news of newsArray'>
                  <div>
                      <ion-card class="news-card" (click)="newsClick(news)">
                        <img src="{{news.urlToImage}}"/>
                        <ion-card-content>
                          <ion-card-title class="orange">
                            {{news.title}}
                          </ion-card-title>
                          <p>
                            {{news.description}}
                          </p>
                        </ion-card-content>
                        <ion-col text-left>
                            <button ion-button clear small color="danger" icon-left (click)="favorite(card)">
                              <ion-icon name='star'></ion-icon>
                              Favorite
                            </button>
                          </ion-col>
                          
                          <ion-col text-right>
                            <button ion-button clear small color="green" icon-left (click)="share(card)">
                              <ion-icon name='share-alt'></ion-icon>
                              Share
                            </button>
                          </ion-col>
                      </ion-card>
                    </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <ng-template #loading>
        <p text-center>
            <ion-spinner name="crescent"></ion-spinner>
        </p>
      </ng-template>
      <ng-template #errorTemplate text-center>
          <p text-center>There was an error. Please try again later</p>
      </ng-template>
    </ion-content>
    
    <ion-footer class="news-footer">
      <ion-segment [ngModel] = "segment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="politics">
          Politics
        </ion-segment-button>
        <ion-segment-button value="business">
          Business
        </ion-segment-button>
        <ion-segment-button value="sports">
          Sports
        </ion-segment-button>
      </ion-segment>
    </ion-footer>
    